@model QTDictionaryAuth.AspMvc.Models.EntryModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EntryModel</h4>
<hr />
<form asp-action="Edit">
    @await Html.PartialAsync("_EditModel", Model)

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <br />
        <a asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
